.top-bar
{
    background-color: #344399;
    height: 4rem;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.side-bar
{
    background-color: #f9f9f9;
    width: 13rem;
    min-height: -moz-available;          /* WebKit-based browsers will ignore this. */
    min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    min-height: fill-available;
}

.main-content
{
    background-color: white;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.data-main-content
{
    background-color: white;
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main-body
{
    display: flex;
}

.settings-inline
{
    display: inline-flex
}


.company-name
{
    padding-top: 10px;
    padding-left: 24px;
    font-size: 2rem;
    color: white;
}

.logged-in-user
{
    margin-top: 1rem;
    margin-right: 2rem;
    color: white;
    justify-content: right;
}

.left-margin
{
    margin-left: 1.5rem;
    padding-bottom: 15px;
}

.settings-top-margin
{
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.side-bar-option
{
    height: 5rem;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.side-bar-option:hover
{
    background-color: #dee2e6;
}


.side-bar-option-image
{
    flex: 1;
    font-size: 1rem;
}

.spinner-config
{
    margin-top: 2rem;
    margin-left: 7.5rem;
}

.settings-label
{
    margin-left: 1.5rem;
}

.side-bar-option-text
{
    white-space: nowrap;
    margin-left: 5px;
    float: left;
    font-size: smaller;
}

.side-bar-option-expand
{
    flex: 1;
}

.side-bar-option-expand-image
{
    padding-top: 1rem;
}

.side-bar-cards
{
    text-align: center;
}

.side-bar-option-text-wrapper
{
    flex: 2;
}

.side-bar-shadow
{
    pointer-events: none;
    width: 8px;
    background: linear-gradient(90deg,#dee2e6,#fff);
}

.training-dataset-image
{
    color: #b11221;
}

.pie-chart
{
    margin-top: 2rem;
}

.chart-wrapper
{
    width: 100%;
    height: 50%;
    margin-bottom: 2rem;
}

.pie-chart-wrapper
{
    width: 100%;
    height: 70%;
}

.word-cloud-image
{
    color:#b68d00;
}

*:focus {
    outline: none;
}
.rc-pagination-item:hover a
{
    color: black !important;
}
.rc-pagination-item:hover
{
    border-color: #d9d9d9 !important;
}
.rc-pagination-item-active {
    background-color: #dee2e6 !important;
    border-color: #d9d9d9 !important;
    pointer-events: none !important;
}

.classification-image
{
    color: #5e1163cf;

}

.ngram-image
{
    color: #0b798a;
}
.data-sources
{
    color: #000000;
    /* padding-right: 1.2rem; */
}
.messages-not-toxic
{
    color: #1e7e34;
    font-size: 1rem;
    /* padding-right: 1.2rem; */
}

.logo-microphone
{

}
.messages-classification
{
    color: #0062cc;
    font-size: 1rem;
}

.messages-toxic
{
    color: #971622;
    font-size: 1rem;
    /* padding-right: 1.2rem; */
}

.word-cloud-title
{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: bold;
}

.main-content-word-cloud
{
    width: 100%;
}

.word-cloud-row-wrapper
{
    display: flex;
    flex-direction: row;
}

.word-cloud-wrapper
{
    flex: 1;
}

.logo-quora
{
    color: #b92a26;
    font-size: 2rem;
    margin-right: 2rem;
}

.message-wrapper
{
    display: inline-flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.message-holder
{
    display: inline-flex;
    border-radius: 25px;
    background: #dee2e6;
    padding: 20px;
}

.message-box
{
    margin-top: 2rem;
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.message-text
{
    width: 30rem;
}
.pagination
{
    display: inline-flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.logo-twitter
{
    color: #1da1f2;
    font-size: 2rem;
    margin-right: 2rem;
}

.form-wrapper-text
{
    width: 40%;
    height: 50%;
}

.input-text
{
    height: 70%;
    border: none;
    overflow: hidden;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.playground-status
{
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    display: inline-flex;
}

.playground-status-circle-loading
{
    padding-left: 0.5rem;
}

.playground-status-circle-stall
{
    color: gray;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.playground-status-circle-toxic
{
    color: #9d11a1;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.playground-status-circle-non-toxic
{
    color: #1e7e34;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.playground-status-message
{
    font-size: 0.8rem;
    margin-left: 1.3rem;
    font-family: fantasy;
}

.playground-content
{
    height: 80%;
    border: 1px solid #ced4da;
    border-spacing: 1rem;
    border-radius: 0.55rem;
}

.playground-count-label
{
    width: 100%;
    text-align: right;
    float: right;
    color: rgb(169, 169, 169);
    padding-top: 1rem;
    padding-right: 0.5rem;
    font-size: 0.75rem;
}

.playground-label
{
    width: 100%;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.playground-icon
{
    color: #1e7e34;
}